@charset "UTF-8";

@media (max-width:768px) {
     .pc {
        display:none;
         }
     #wrapper {
        background-color:#f0ffff;
          }
  
   }

 
body{
  font-family:serif;
  background-color:#f0ffff;


}

#wrapper {
  max-width:800px;
  margin:0 auto;
  padding:20px;
 
  
  

  
}
#contents {
  display:flex;
  justify-content: center;
}

header {
  
  height:150px;
  font-size:13px;

  padding-top:30px;
  text-align:left;
  

}



#nav01 ul  {
  list-style:none;
  font-size:15px;
  margin-top:60px;
  padding-left:60px;
  
  

}



aside {
  width:200px;
  float:left;
  height:600px;

  


}


main {
  width:600px;  
  
}







.cearfix::after {
  content: "";
  display:block;
  clear: both;
}







 
