@charset "UTF-8";

@media (max-width:768px) {
     .wrapper {
          display: flex;
          flex-flow: column;
          width: 60%;
          
          }
     }


.wrapper {
     max-width: 800px;
     margin: 0 auto;
     display: flex;
     flex-flow: column;
     text-align: center;
     margin-top: 15%;
     margin-bottom: 30px;
     
     }
     

.clearfix::after {
     content:"";
     display:block;
     clear:both;
     }















