@charset "UTF-8";

@media (max-width:768px) {
     }


.wrapper {
    width: 800px;
    display: flex;
    flex-flow: center;
    margin-bottom: 30px;
    
  
}

.clearfix::after {
     content:"";
     display:block;
     clear:both;
     }













