@charset "UTF-8";

@media (max-width:768px) {
     }


.wrapper {
    width:800px;
    margin:0 auto;
    display: flex;
    justify-content: column;
    text-align: center;
    margin-bottom:ã€€30px;
  
}

.clearfix::after {
     content:"";
     display:block;
     clear:both;
     }













